@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
@import 'tailwindcss';

:root {
    --green-teal: #0ab463;
    --pinkish-grey: #c4c4c4;
    --warm-grey-75: #848484bf;
    --text-style-3: #383838;
    --gray-border: #dadada;
    --emerald: #0094ff;
}

body {
    font-family: 'Montserrat', system-ui, -apple-system, sans-serif;
}